__pycache__/data_util.cpython-39.pyc
__pycache__/generate_dataset.cpython-39.pyc
__pycache__/generate_Minist.cpython-39.pyc
__pycache__/model_util.cpython-39.pyc
__pycache__/server_base.cpython-39.pyc
__pycache__/server_avg.cpython-39.pyc
__pycache__/user_avg.cpython-39.pyc
__pycache__/user_base.cpython-39.pyc
data/cifar-10-python.tar
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/test/cifa_test.json
data/train/cifa_train.json
Mnist/mnist-original.mat
